/* App.css */
.App {
  text-align: center;
  color: white;
}

.dashboard-container {
  display: flex;
}

.left-menu {
  width: 200px; 
  background-color: #f0f0f0; 
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0; 
  overflow-y: auto; 
}

.menu-wrapper {
  display: flex;
  flex-direction:column ;
  padding-top: 20px; 
  padding-left: 10px; 
}

.right-content {
  margin-left: 200px; 
  padding: 20px; 
}
.right-content > img {
  padding: 5px;
}